{%extends 'base.html'%}

{%block parent%}

<!DOCTYPE html>
<html>

<head>
    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else { 
                x.className = x.className.replace(" w3-show", " w3-hide");
            }
        }
    </script>
    <title>W3.CSS Template</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Open Sans", sans-serif
        }

        .profile-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            position: relative;
            border: 1px solid #ccc;
            height: 200px;
        }

        .timeline-pic {
            width: 100%;
            height: 300px;
            background-image: url('timeline.jpg');
            background-size: cover;
            background-position: center;
        }

        .profile-pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;

            position: relative;
            bottom: 90%;
            /* half of profile pic height to overlap */
            left: 32%;
            /* adjust as needed */
            background-image: url('profile.jpg');
            background-size: cover;

        }

        .profile-info {
            padding: 100px 20px 20px 20px;
            /* adjust top padding to accommodate profile pic */
        }

        /* comments list */

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
        }

        .comments-section {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
        }

        .comments-section h2 {
            margin-top: 0;
            font-size: 24px;
        }

        .comment {
            padding: 15px;
            border-bottom: 1px solid #eaeaea;
        }

        .comment:last-child {
            border-bottom: none;
        }

        .comment-author {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

        .author-name {
            font-weight: bold;
        }

        .comment-text {
            font-size: 16px;
            margin-bottom: 10px;
        }

        .comment-meta {
            font-size: 14px;
            color: #999;
            display: flex;
            justify-content: space-between;
        }

        .comment-reply {
            color: #0066cc;
            cursor: pointer;
        }

        .comment-reply:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body class="w3-theme-l5">

    <!-- Navbar -->


    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <h2 class="w3-center"><i class="fa-solid ">{{request.user}}</i></h2>
                        <div class="profile-container">
                            <div class="timeline-pic">
                                {%if request.user.profile.time_line_pic%}
                                <img src="{{request.user.profile.time_line_pic.url}}" class="card-img-top" alt="...">
                                {%endif%}
                            </div>
                            <div class="profile-pic">
                                {%if request.user.profile.profile_pic%}
                                <img src="{{request.user.profile.profile_pic.url}}" class="w3-circle"
                                    style="height:106px;width:106px" alt="Avatar">
                                {%else%}
                                <img src="/w3images/avatar3.png" class="w3-circle" style="height:106px;width:106px"
                                    alt="Avatar">
                                {%endif%}

                            </div>

                        </div>

                        <p class="w3-center">

                        </p>
                        <hr>
                        <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>{{request.user.profile.bio}}
                        </p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{request.user.profile.nationality}}</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{request.user.profile.date_of_birth}}</p>



                    </div>
                </div>
                <br>

                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <button onclick="myFunction('D1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</button>
                        <div id="D1" class="w3-hide w3-container">
                            <p>Some text..</p>
                        </div>
                        <button onclick="myFunction('D2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</button>
                        <div id="D2" class="w3-hide w3-container">
                            <p>Some other text..</p>
                        </div>
                        <button onclick="myFunction('D3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                                class="fa fa-users fa-fw w3-margin-right"></i> My Photos</button>
                        <div id="D3" class="w3-hide w3-container">
                            <div class="w3-row-padding">
                                <br>
                                <div class="w3-half">
                                    <img src="image1/drop.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="image1/nature_1.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="image1/lake-blue-moonlight-moon.jpg" style="width:100%"
                                        class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="image1/travel-1_5EM4vrv.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="image1/download-1_rkXqMhS.jpg" style="width:100%"
                                        class="w3-margin-bottom">
                                </div>
                                <div class="w3-half">
                                    <img src="image1/istockphoto-.jpg" style="width:100%" class="w3-margin-bottom">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container">
                        <p>Interests</p>
                        <p>
                            <span class="w3-tag w3-small w3-theme-d5">News</span>
                            <span class="w3-tag w3-small w3-theme-d4">W3Schools</span>
                            <span class="w3-tag w3-small w3-theme-d3">Labels</span>
                            <span class="w3-tag w3-small w3-theme-d2">Games</span>
                            <span class="w3-tag w3-small w3-theme-d1">Friends</span>
                            <span class="w3-tag w3-small w3-theme">Games</span>
                            <span class="w3-tag w3-small w3-theme-l1">Friends</span>
                            <span class="w3-tag w3-small w3-theme-l2">Food</span>
                            <span class="w3-tag w3-small w3-theme-l3">Design</span>
                            <span class="w3-tag w3-small w3-theme-l4">Art</span>
                            <span class="w3-tag w3-small w3-theme-l5">Photos</span>
                        </p>
                    </div>
                </div>
                <br>

                <!-- Alert Box -->
                <div
                    class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                    <span onclick="this.parentElement.style.display='none'"
                        class="w3-button w3-theme-l3 w3-display-topright">
                        <i class="fa fa-remove"></i>
                    </span>
                    <p><strong>Hey!</strong></p>
                    <p>People are looking at your profile. Find out who.</p>
                </div>

                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->

            <div class="w3-col m7">

                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h6 class="w3-opacity">Post Your Question</h6>
                                <form action="" method="post" enctype="multipart/form-data">
                                    {%csrf_token%}
                                    {{form.as_p}}
                                    <button type="submit" class="btn w3-button w3-theme"><i class="fa fa-pencil"></i>
                                         Post</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
                {%for p in posts%}
                <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                    {%if p.user.profile.profile_pic%}
                    <img src="{{p.user.profile.profile_pic.url}}" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    {%else%}
                    <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                        style="width:60px">
                    {%endif%}
                    <span class="w3-right w3-opacity">{{p.date}}</span><br>
                    <span class="w3-right">
                        {%if request.user == p.user%}

                        <a href="{%url 'post-delete' p.id%}"> delete<i class="fa fa-trash"></i></a>
                        {%endif%}
                    </span>

                    <h4>{{p.user}}</h4><br>
                    <hr class="w3-clear">
                    <p>{{p.title}}</p>
                    {%if p.image%}
                    <img src="{{p.image.url}}" style="width:100%" alt="Northern Lights" class="w3-margin-bottom">
                    {%endif%}

                    <p>{{p.description}}</p>

                       
                    <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom"><a
                            class="link-offset-2 link-underline link-underline-opacity-0" href="{%url 'like' p.id%}"><i
                                class="fa fa-thumbs-up"></i>  Like{{p.like_count}}</a></button>
                    <button type="button" onclick="myFunction('Demo{{ forloop.counter }}')"
                        class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>

                    <div id="Demo{{ forloop.counter }}" class="w3-hide w3-container">
                        <p><form action="{%url 'add-comment' p.id%}" method="post" enctype="multipart/form-data">
                            {%csrf_token%}
                            <input type="text" class="form-control" placeholder="Add your comment" name="comment">
                            <button type="submit" class="w3-button w3-theme-d2 w3-margin-bottom"><i
                                    class="fa fa-comment"></i>  AddComment</button>
                        </form></p>
                        <p>
                            <div class="comments-section">
                                <h2>Comments</h2>
                                {%for cmnt in p.post_comments%}

                                <div class="comment">
                                    <div class="comment-author">
                                        {%if cmnt.user.profile.profile_pic%}
                                        <img src="{{cmnt.user.profile.profile_pic.url}}" alt="Avatar"
                                            class="avatar" style="width:40px">
                                        {%else%}
                                        <img src="/w3images/avatar2.png" alt="Avatar" class="w3-left w3-circle w3-margin-right"
                                            style="width:60px">
                                        {%endif%}
                                        
                                        <span class="author-name">{{cmnt.user}}</span>
                                        <a href="{%url 'like-comment' cmnt.id%}" style="margin-left: auto;"><i class="fa fa-heart" style="font-size:16px;color:red"></i></a>{{cmnt.comment_like_count}}
                                    </div>
                                    <div class="comment-text">
                                        {{cmnt.comment}}
                                    </div>
                                    <div class="comment-meta">
                                        <span class="comment-date">{{cmnt.created_date}}</span>
                                        <span class="comment-reply">Reply</span>
                                    
                                        <span class="w3-right">
                                            {%if request.user == cmnt.user%}
                    
                                            <a href="{%url 'comment-delete' cmnt.id%}">delete <i class="fa fa-trash"></i></a>
                                            {%endif%}
                                        </span>
                                    </div>
                                </div>
                               {%endfor%}
                            </div>
                            </p>
                            
                    </div>
                   
                    </div>
                    {%endfor%}
            </div>
            



                <!-- End Middle Column -->

                
            






            <!-- Right Column -->
            <div class="w3-col m2">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Upcoming Events:</p>
                        <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
                        <p><strong>Holiday</strong></p>
                        <p>Friday 15:00</p>
                        <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Friend Request</p>
                        <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
                        <span>Jane Doe</span>
                        <div class="w3-row w3-opacity">
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-green w3-section" title="Accept"><i
                                        class="fa fa-check"></i></button>
                            </div>
                            <div class="w3-half">
                                <button class="w3-button w3-block w3-red w3-section" title="Decline"><i
                                        class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
                    <p>ADS</p>
                </div>
                <br>

                <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
                    <p><i class="fa fa-bug w3-xxlarge"></i></p>
                </div>

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>

        <!-- End Page Container -->
    </div>
    <br>

    <!-- Footer -->
    <footer class="w3-container w3-theme-d3 w3-padding-16">
        <h5>Footer</h5>
    </footer>

    <footer class="w3-container w3-theme-d5">
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>

    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

</body>

</html>
{%endblock%}